@import '../../styles/variables';

.drop-down {
    display: flex;
    flex-direction: column;
    gap: 4px;

    &__lbl {
        color: $color-lbl;
        font-size: 16px;
        font-weight: 500;
        padding-left: 4px;

        &_strong {
            font-weight: 600;
        }
    }

    &__select {
        border: none;
        border-bottom: 1px solid$color-blue;
        outline: none;
        padding: 0;
        font-size: 18px;
        font-weight: 500;
    }
}
