@import '../../styles/variables';

.education-list {
    display: flex;
    flex-direction: column;
    max-height: 100%;
    overflow: auto;
    
    &__item {
        min-height: 40px;
        display: flex;
        align-items: flex-start;
        gap: 8px;
        cursor: pointer;
        padding: 10px 10px;
        color: $color-baseblack;
        font-size: 16px;
        font-weight: 500;
        border-bottom: 1px solid $color-dirtywhite;
        box-shadow: 0px 1px 1px -1px $color-delimitershadow;

        &:hover {
            background-color: #f5f5f533;
        }
    }

    &__item-descr {
        display: flex;
        flex-direction: column;
        gap: 4px;
    }

    &__item-descr-title {
        font-weight: 600;
    }

    &__item-descr-description {
        font-style: italic;
    }

    &__item-actions {
        display: flex;
        gap: 8px;
        margin-left: auto;
        min-width: 44px;
        max-width: 44px;

        & svg {
            &:hover {
                opacity: 0.8;
            }
        }
    }
}
